version: '3.8'

services:
  web:
    build:
      context: ../../
      dockerfile: deploy/docker/Dockerfile
    command: /home/app/web/entrypoint.sh
    volumes:
      - static_volume:/home/app/web/staticfiles
      - ../../media:/home/app/web/mediafiles
    expose:
      - 8000
    env_file:
      - ../../.env

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - static_volume:/app/staticfiles
      - ../../media:/app/mediafiles
      - ../nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - web

  backup:
    image: postgres:15-alpine
    volumes:
      - ${BACKUP_PATH:-../../backups}:/backups
      - ./backup.sh:/usr/local/bin/backup.sh
    command: sh /usr/local/bin/backup.sh
    env_file:
      - ../../.env

volumes:
  static_volume: